.chip {
  display: inline-block;
  text-align: center;
  padding: 3px 12px;
  border-radius: 8px;
}
.chip.quantico {
  color: var(--gray600);
  font-family: Quantico;
  font-weight: 700;
  font-size: 16px;
}

.next {
  background-color: #79e16a;
}

.api {
  background-color: #ff905e;
}

.career {
  background-color: #7eb2ee;
}

.modern {
  background-color: #f66e6b;
}

.web {
  background-color: #f7ea5d;
}

.categori {
  background: #fff;
  border: 1px solid var(--gray300);
  color: var(--gray600);
  font-weight: 500;
  font-size: 14px;
}

.status {
  font-size: 16px;
  font-weight: 600;
}
.pending {
  color: #f2bc00;
  background-color: #fffde7;
}

.reject {
  background-color: #fff0f0;
  color: #e54946;
}

.accecpt {
  background-color: #dff0ff;
  color: #4095de;
}

.delete {
  background-color: var(--gray200);
  color: var(--gray500);
}
