.container {
  background-color: #fff;
  width: 285px;
  height: 176px;
  border: 2px solid var(--gray100);
  border-radius: 16px;
  padding: 22px 16px;
}

.top,
.date,
.person {
  display: flex;
  justify-content: center;
  align-items: center;
}
.top {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  color: var(--gray600);
  margin-bottom: 16px;
}
.date {
  margin-right: 4px;
}
.date img {
  margin-right: 8px;
}
.person {
}
.person img {
  margin-right: 4px;
}

.btnArea {
  width: 100%;
}
.btnArea button {
  width: 100%;
  font-size: 14px;
}
.btnArea button:first-child {
  margin-bottom: 8px;
}
