@import url("https://fonts.googleapis.com/css2?family=Quantico&display=swap");
@font-face {
  font-family: "Pretendard";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-style: normal;
}
:root {
  --brand_yellow: #ffc117;
  --brand_black: #262626;
  --brand_white: #f1f2f5;

  --gray50: #fafafa;
  --gray100: #e8ebed;
  --gray200: #e5e5e5;
  --gray300: #d4d4d4;
  --gray400: #a3a3a3;
  --gray500: #737373;
  --gray600: #525252;
  --gray700: #404040;
  --gray800: #262626;
  --gray900: #171717;

  --error: #eb3e3e;

  --headerHeight: 60px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 150%;
  font-family: "Pretendard";
}

body {
  background-color: var(--gray50);
  padding-top: var(--headerHeight);
}
.flex {
  display: flex;
  flex-wrap: wrap;
}

.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

button {
  border: 0;
  cursor: pointer;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: #000;
}

ul li,
ol li {
  list-style: none;
}
