.list {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid var(--gray200);
  max-width: 690px;
}

.number {
  min-width: 55px;
  height: 25px;
  background-color: var(--gray800);
  border-radius: 16px;
  font-size: 14px;
  font-weight: 500;
  color: var(--brand_yellow);
  display: inline-flex;
  align-items: center;
  padding: 0 11px;
  margin-right: 24px;
}
.number span {
}
.number img {
  margin-right: 2px;
}

.content {
  display: flex;
  align-items: center;
  width: 100%;
}
.content img {
  margin-right: 10px;
}
.content p.user {
  width: 60%;
  font-weight: 500;
  font-size: 14px;
  color: var(--gray800);
}
.content p.user span {
  display: block;
  font-size: 0.9em;
  color: var(--gray500);
}
.right {
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right p.heart {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  color: var(--gray500);
}
.right p.heart img {
  margin-right: 4px;
}

.link {
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
  color: var(--gray800);
}
.link span {
  display: block;
  margin-left: 2px;
  width: 10px;
  height: 10px;
  border-radius: 2px;
  border-bottom: 2px solid var(--gray800);
  border-left: 2px solid var(--gray800);
  transform: rotate(-135deg);
}
