.tab {
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--gray500);
}
.tab {
  font-size: 18px;
}

.tab.active {
  color: var(--gray800);
}

.tab.middle {
  font-weight: 600;
}

.tab.middle {
  padding: 16px 24px;
}

.tab.active.middle {
  border-bottom: 3px solid var(--brand_black);
}

.tab.top {
  background-color: #fff;
  font-weight: 700;
}
.tab.top.l {
  padding: 21px 17px;
}

@media screen and (max-width: 764px) {
  .tab {
    font-size: 16px;
  }
  .tab.middle {
    padding: 10px 14px;
  }
  .tab.top {
    padding: 2px 8px;
  }
}
