.tab {
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--gray500);
}
.tab.l {
  font-size: 18px;
}

.tab.s {
  font-size: 16px;
}

.tab.active {
  color: var(--gray800);
}

.tab.middle {
  font-weight: 600;
}

.tab.middle.l {
  padding: 16px 24px;
}

.tab.middle.s {
  padding: 10px 14px;
}

.tab.active.middle {
  border-bottom: 3px solid var(--brand_black);
}

.tab.top {
  background-color: #fff;
  font-weight: 700;
}
.tab.top.l {
  padding: 21px 17px;
}
.tab.top.s {
  padding: 2px 8px;
}
